<!DOCTYPE html>
<html>

<head>
    <title>Error Page</title>
    <style>
        h1 {
            margin: 50%;
            text-align: center
        }

        body {
            text-align: center;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <%-include('./partials/header.ejs')%>
    <h1>Something is Wrong....</h1>

    <%-include('./partials/script.ejs')%>
</body>

</html>