<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>CreaWorks!</title>
</head>
<body>
<%-include('./partials/header.ejs')%>
<center>
<div style="width: 750px;background-color: gray;border-radius: 15px;margin-top: 100px;">
<h2>What do we Offer?</h2>
<p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis non aliquet tellus. Morbi quis suscipit justo, at porta risus. Duis lorem orci, laoreet sit amet pellentesque id, gravida vitae urna. Ut at volutpat lacus, et pellentesque orci. Sed commodo leo non convallis commodo. Donec in odio leo. Sed fermentum in lorem sit amet tempus. Proin sed neque in arcu tempus dictum. Suspendisse accumsan cursus ipsum, vel aliquet mauris varius ac. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent mattis leo est, nec pharetra sem blandit a. Nulla massa sem, ultricies ac nulla sit amet, vulputate vestibulum mauris. Nulla facilisi.

    Curabitur vel congue tellus. Aliquam tellus massa, accumsan id euismod sit amet, finibus ac odio. In sed vehicula urna, sit amet euismod dui. Pellentesque id iaculis massa, lacinia elementum nibh. Curabitur convallis velit in posuere fermentum. Suspendisse facilisis tellus vitae nibh euismod bibendum. Sed pharetra neque in turpis eleifend, sit amet aliquet urna eleifend. Etiam eu nisl nec arcu eleifend hendrerit. Vestibulum lobortis metus ut nulla congue mollis. Duis at sodales erat. In quis nisl nec turpis ultricies ultrices at vehicula felis. In ut mi tristique ante vestibulum efficitur.</p>
</div>
</center>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>