<!DOCTYPE html>
<html>

<head>
    <title><%= dataUser.name%></title>
</head>

<body>

    <h1>Welcome <%=dataUser.name%></h1>
    <button onclick="window.location.href='/pick-project/<%= dataUser.id%>'">List Seniman</button>

</body>

</html>